# 5장 데이터의 정리

> 데이터를 정리하는 다양한 기법을 알아봅니다.
- author: "Chansung Park"
- toc: true
- comments: true
- permalink: /chapter5/
- badges: true
- sticky_rank: 5

In [ ]:
#hide

import warnings
warnings.filterwarnings('ignore')

In [ ]:
#hide

!pip install pandas==0.23.4
!pip install scikit-learn==0.21.0
!pip install yellowbrick==0.9
!pip install pyjanitor==0.16.6

Collecting pandas==0.23.4
  Using cached https://files.pythonhosted.org/packages/67/a7/12261a51ac2e7be4c698ca27cbe364ca5f16d64999456ee47ea8c7b44417/pandas-0.23.4-cp37-cp37m-manylinux1_x86_64.whl
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.7/dist-packages (from pandas==0.23.4) (2018.9)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandas==0.23.4) (1.19.5)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.7/dist-packages (from pandas==0.23.4) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.5.0->pandas==0.23.4) (1.15.0)
ERROR: xarray 0.15.1 has requirement pandas>=0.25, but you'll have pandas 0.23.4 which is incompatible.
ERROR: pyjanitor 0.16.6 has requirement pandas>=0.24.0, but you'll have pandas 0.23.4 which is incompatible.
ERROR: plotnine 0.6.0 has requirement matplotlib>=3.1.1, but you'll have matplotlib 2.2.5 which is incompatible.
ERROR: plotnine 0.6.0 has requirement pandas>=0.25.0, but you'll have pandas 0.23.4 which is incompatible.
ERROR: mizani 0.6.0 has requirement matplotlib>=3.1.1, but you'll have matplotlib 2.2.5 which is incompatible.
ERROR: mizani 0.6.0 has requirement pandas>=0.25.0, but you'll have pandas 0.23.4 which is incompatible.
ERROR: google-colab 1.0.0 has requirement pandas~=1.1.0; python_version >= "3.0", but you'll have pandas 0.23.4 which is incompatible.
ERROR: fbprophet 0.7.1 has requirement pandas>=1.0.4, but you'll have pandas 0.23.4 which is incompatible.
Installing collected packages: pandas
  Found existing installation: pandas 1.2.3
    Uninstalling pandas-1.2.3:
      Successfully uninstalled pandas-1.2.3
Successfully installed pandas-0.23.4

ERROR: Could not find a version that satisfies the requirement sklearn==0.21.0 (from versions: 0.0)
ERROR: No matching distribution found for sklearn==0.21.0
Requirement already satisfied: yellowbrick==0.9 in /usr/local/lib/python3.7/dist-packages (0.9)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from yellowbrick==0.9) (1.4.1)
Requirement already satisfied: cycler>=0.10.0 in /usr/local/lib/python3.7/dist-packages (from yellowbrick==0.9) (0.10.0)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.7/dist-packages (from yellowbrick==0.9) (0.22.2.post1)
Requirement already satisfied: matplotlib<3.0,>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from yellowbrick==0.9) (2.2.5)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from yellowbrick==0.9) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10.0->yellowbrick==0.9) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20->yellowbrick==0.9) (1.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<3.0,>=1.5.1->yellowbrick==0.9) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<3.0,>=1.5.1->yellowbrick==0.9) (2.4.7)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from matplotlib<3.0,>=1.5.1->yellowbrick==0.9) (2018.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib<3.0,>=1.5.1->yellowbrick==0.9) (1.3.1)

# 필요한 패키지

In [ ]:
#hide

import matplotlib.pyplot as plt
import pandas as pd
from sklearn import (
  ensemble,
  preprocessing,
  tree
)
from sklearn.metrics import (
  auc,
  confusion_matrix,
  roc_auc_score,
  roc_curve
)
from sklearn.model_selection import (
  train_test_split,
  StratifiedKFold
)
from yellowbrick.classifier import (
  ConfusionMatrix,
  ROCAUC
)
from yellowbrick.model_selection import (
  LearningCurve
)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.metrics.classification module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

# 5.1 열의 이름

In [ ]:
import janitor as jn
Xbad = pd.DataFrame(
  {
    "A": [1, None, 3],
    " sales numbers ": [20.0, 30.0, None],
  }
)

jn.clean_names(Xbad)

     a  _sales_numbers_
0  1.0             20.0
1  NaN             30.0
2  3.0              NaN

In [ ]:
def clean_col(name):
  return (
    name.strip().lower().replace(" ", "_")
  )

Xbad.rename(columns=clean_col)

     a  sales_numbers
0  1.0           20.0
1  NaN           30.0
2  3.0            NaN

# 5.2 누락된 값의 교체

In [ ]:
jn.coalesce(
  Xbad,
  columns=["A", " sales numbers "],
  new_column_name="val",
)

    val
0   1.0
1  30.0
2   3.0

In [ ]:
Xbad.fillna(10)

      A   sales numbers
0   1.0             20.0
1  10.0             30.0
2   3.0             10.0

In [ ]:
jn.fill_empty(
  Xbad,
  columns=["A", " sales numbers "],
  value=10,
)

      A   sales numbers
0   1.0             20.0
1  10.0             30.0
2   3.0             10.0

In [ ]:
#hide

!pip install pandas==0.23.4

In [ ]:
import pandas as pd

url = "https://biostat.app.vumc.org/wiki/pub/Main/DataSets/titanic3.xls"
df = pd.read_excel(url)
orig_df = df

df.isna().any().any()

True